body{
    background-color: #00b4fc;
}
 
h1{
    border: 2px solid #000;
    text-align: center;
    
    background-color: #17f9ff;
}

h2{
    border: 2px solid #000;
    text-align: center;
    background-color: #17f9ff;
}

h3{
    border: 2px solid #000;
    text-align: center;
    background-color: #17f9ff;
}



